.page1-container {
    background: #EAE8E3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  
  .img2-container {
    width: 96%;
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .img2-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .text1-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 30px;
    text-align: center;
    /* background: rgba(0, 0, 0, 0.4);  */
  }
  
  .title {
    font-size: 28px;
    font-weight: bold;
  }
  
  .more {
    font-size: 18px;
  }
  
  .text1-content button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  