.admin-young-adults-event-detail-new-container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color: #f8f9fa;
}

.admin-young-adults-event-detail-card {
    max-width: 700px;
    background-color: #fff;
    overflow-y: auto;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.admin-young-adults-event-title {
    font-size: 28px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.admin-young-adults-event-info-list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.admin-young-adults-event-info-list li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
    display: flex;
    align-items: center;
}

.admin-young-adults-event-info-list i {
    margin-right: 10px;
    color: #007BFF;
}

.admin-young-adults-event-image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 20px 0;
    object-fit: cover;
}

.admin-young-adults-event-description {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}

.admin-young-adults-detail-leftarrwo {
    cursor: pointer;
}
.ayaed-title-edit {
    display: flex;
    justify-content: space-between;
}
.ayaed-edit-btn {
    border-radius: 10px;
    width: 80px;
    height: 40px;
    background: #EBFDEE;
    color: #2011c8;
    border-style: none;
    transition: transform 0.3s ease;
}

.ayaed-edit-btn:hover {
    transform: scale(1.18);
}

.ayaed-edit-container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color: #f8f9fa;
}

.ayaed-edit-card {
    width: 800px;
    background-color: #fff;
    overflow-y: auto;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}
.ayaed-edit-dlt-btn {
    display: flex;
    gap: 20px;
}

.ayaed-dlt-btn {
    border-radius: 10px;
    width: 80px;
    height: 40px;
    background: #d90808;
    color: #fff;
    border-style: none;
    transition: transform 0.3s ease;
}