.ministry-container {
    padding: 40px;
    background-color: #F9F1E7;
    text-align: center;
}

.ministry-container h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.ministry-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}