.st-welcome {
    font-size: 1.3rem;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.st-small-info {
    font-size: 0.9rem;
    font-weight: lighter;
}
.si-cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.st-card-latest {
    display: flex;
    justify-content: start;
    margin: 40px 80px;
    gap: 15px;
}

@media(max-width: 991px) {
    .st-card-latest {
        display: flex;
        justify-content: start;
        margin: 4px 8px;
        flex-wrap: wrap;
    }
}